<p><ac:placeholder>Note: altering this template may break the resulting page.</ac:placeholder></p>
<p><ac:placeholder>If you are making a new page - Replace the placeholder title with an appropriate one, and click save to continue.</ac:placeholder></p>
<p><ac:placeholder>If you are trying to edit a pre-existing page - DO NOT. The files attached to the page can be modified without needing to alter the template itself. All document-folder-pages have the exact same structure, changing that structure is strongly discouraged as it breaks the consistency of the site.</ac:placeholder></p>
<ac:structured-macro ac:name="panel" ac:schema-version="1" ac:macro-id="dfa74ba4-d2d4-4263-a16e-ffcb69fb8365">
<ac:parameter ac:name="title">Contained Documents:</ac:parameter>
<ac:rich-text-body>
<ac:structured-macro ac:name="children" ac:schema-version="2" ac:macro-id="a4a969ac-63ab-4f0f-8b45-03c3cb019d23">
<ac:parameter ac:name="style">h5</ac:parameter>
<ac:parameter ac:name="excerptType">rich content</ac:parameter></ac:structured-macro>
<p>
<ac:structured-macro ac:name="attachments" ac:schema-version="1" ac:macro-id="605168a4-add9-476d-a2eb-610889a14716" /></p></ac:rich-text-body></ac:structured-macro>
<p>
<ac:structured-macro ac:name="create-from-template" ac:schema-version="1" ac:macro-id="98d883f9-2ba4-4ef2-b19c-4a278068dc66">
<ac:parameter ac:name="spaceKey">
<ri:space ri:space-key="EE" /></ac:parameter>
<ac:parameter ac:name="templateName">200736775</ac:parameter>
<ac:parameter ac:name="templateId">200736775</ac:parameter>
<ac:parameter ac:name="title"> - NEW TITLE GOES HERE</ac:parameter>
<ac:parameter ac:name="buttonLabel">+ Add New Folder</ac:parameter></ac:structured-macro></p>
<p>
<br /></p>
<p>
<ac:structured-macro ac:name="excerpt-include" ac:schema-version="1" ac:macro-id="c6fe0162-2a5c-4fed-94ad-2df8526ba35f">
<ac:parameter ac:name="nopanel">true</ac:parameter>
<ac:parameter ac:name="">
<ac:link>
<ri:page ri:content-title="Folder Pages Include Footer" /></ac:link></ac:parameter></ac:structured-macro></p>
<ac:structured-macro ac:name="excerpt" ac:schema-version="1" ac:macro-id="8d105602-b0c5-418e-aa68-c55e860582b5">
<ac:parameter ac:name="hidden">true</ac:parameter>
<ac:parameter ac:name="atlassian-macro-output-type">INLINE</ac:parameter>
<ac:rich-text-body>
<ac:structured-macro ac:name="expand" ac:schema-version="1" ac:macro-id="6b06914d-5723-4f1a-931a-90cbde27f685">
<ac:parameter ac:name="title">📂</ac:parameter>
<ac:rich-text-body>
<ac:structured-macro ac:name="panel" ac:schema-version="1" ac:macro-id="9ffd7a88-6746-47d2-b52c-9e9c59aba9fe">
<ac:parameter ac:name="borderColor">lightgrey</ac:parameter>
<ac:parameter ac:name="borderWidth">2</ac:parameter>
<ac:parameter ac:name="borderStyle">dashed</ac:parameter>
<ac:rich-text-body>
<ac:structured-macro ac:name="children" ac:schema-version="2" ac:macro-id="1c0aca78-4921-4d49-926a-1b5a6c11fb81">
<ac:parameter ac:name="style">h5</ac:parameter>
<ac:parameter ac:name="excerptType">rich content</ac:parameter></ac:structured-macro>
<p>
<ac:structured-macro ac:name="attachments" ac:schema-version="1" ac:macro-id="030e6467-0739-4ae1-9682-f49828343b86">
<ac:parameter ac:name="preview">false</ac:parameter>
<ac:parameter ac:name="upload">false</ac:parameter></ac:structured-macro></p>
<p>
<br /></p></ac:rich-text-body></ac:structured-macro></ac:rich-text-body></ac:structured-macro></ac:rich-text-body></ac:structured-macro>
<p>
<br /></p>
<p>
<br />
<br /></p>
<p>
<br />
<br /></p>
<p>
<br />
<br /></p>
