<%# module_page.erb %>
<h3>Module Overview</h3>
<pre>&lt;&lt;Yet to be completed by academic.&gt;&gt;</pre>
<h3>Schedule of Activities</h3>
<pre>&lt;&lt;Yet to be completed by academic.&gt;&gt;</pre>
<h3>Module Specification</h3>
<a href="https://www.elec.york.ac.uk/internal_web/syllabus/">Please refer to the syllabus for module specifications.</a>
<h3>Module Leader</h3>
<p>contact: <%= row[:moduleleader] %>@york.ac.uk</p>
<h3>Module Credits</h3>
<p><%= row[:modulecredits] %></p>
<h3>Link to old module page:</h3>
<p>Information about this module will soon be available here - we are in the process of porting it over from the old internal web.</p>
<p><a href="<%= row[:link] %>">In the meantime, this link will take you to the corresponding page on the old site (or the VLE if appropriate)</a>.</p>
